h1, h2, h3, h4, h5, strong, p, span, div {
  color: #334680;
}

.css-hyxlzm{
  color:grey
}

.gh-jobs-header{
  display:flex;
  justify-content: center;
  align-items: center;
  background-image: url("../public/backgroundImg.png");
  height:150px;
  border-radius:6px !important

}


.gh-jobs-title{
  padding: 4px 0px;
  font-size:36px;
  font-weight:normal;
  color: #334680;
}
