.gh-jobs-header{
  display:flex;
  justify-content: center;
  align-items: center;
  background-image: url("../public/backgroundImg.png");
  height:150px;
  border-radius: 6px !important;
}

.gh-jobs-search-bar{
  width: 60%;
  background-color: white;
  border-radius: 6px;

}


