h1, h2, h3, h4, h5, strong, p, span, div {
  color: #334680;
}

.css-hyxlzm{
  color:grey
}

.gh-jobs-header{
  display:flex;
  justify-content: center;
  align-items: center;
  background-image: url("../public/backgroundImg.png");
  background-position: center;
  height:150px;
  border-radius:6px

}


.gh-jobs-title{
  padding: 4px 0px;
  font-size:36px;
  font-weight:normal;
  color: #334680;
}

.job-card-content-wrapper {
  display: flex;
  width: 100%;
}


@media screen and (min-width: 601px) {
  .btn-min-width {
    min-width: 170px !important;
  };

}

@media screen and (min-width:601px){
  .visible-xs {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .hidden-xs {
    display: none;
  }
  .job-card-content-wrapper {
    flex-direction: column;
  }
}

a{
  text-decoration: none;
 }